header {
    position: sticky;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(52, 39, 92);
    top: 0px;
    font-family: 'Alkatra', cursive;
    font-size: 3em;
}


footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    border: 1px solid black;
    background-color: rgb(54, 52, 78);
    font-family: 'MinhaFonte';
    font-size: 3em;
}

.identificacao {
float:right;
}

.identificacao img{
    border: 3px solid black;
    width: 50%;
}

.logo img {
    width: 20%;
    height: auto;
 }


 .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid black;
  }
  
